@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&family=Space+Mono&display=swap");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

body {
  background-color: rgb(251, 249, 249);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8)
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: rgb(47, 41, 99);
  line-height: 1.1;
}

h2 {
  font-family: 'Roboto', sans-serif;
  line-height: 0.5;
}

a {
  text-decoration: none;
  color: rgb(170, 125, 206)
}

a:hover {
text-decoration: none;
color: rgb(145, 100, 181)
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 1.4;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 30px 30px 30px;
  margin: 20px
}

.footer-white {
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 1.4;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  margin: 20px
}

.avatar-circle {
  width: 180px;
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 9px;
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-blue {
  background-color: rgb(0, 100, 148);
  padding: 13px;
  color: white;
  border-radius: 7px;
  font-weight: bold;
}

.btn-blue:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: rgb(0, 95, 143);
}

.gallery-pic {
  width: 450px;
  height: 350px;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.image-gallery {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
